/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 18 mars 2024, 15:29:14
    Author     : Elisa Bothy
*/

:root{
    --menu-background-color:#9469C9;
    --menu-hoover-background-color:#604087;
    --menu-text-color:#DDDDDD;
    --main-background-color:#EAEFF2;
    --main-text-color:#673F40;
    --best-news-background-color:#D2AE50;
    --best-news-border-color:#a7893f;
    --news-background-color: #4B8378;
    --news-border-color: #31534c;
    --footer-background-color: #E4BCB9;
    --footer-text-color: #000000;
    --text-best-news-color:#673F40;
    --text-news-color: #E7F6FC;
    --button-background-color: #D9D9D9;
    --detailled-text-news-color: #000000;
    --detailled-text-news-background:#D9D9D9;
}

h1, h2, h3, p, a, div, td, th, legend, ul, label, input, textarea, span{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header{
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: var(--menu-background-color);
    justify-content: center;
    position: fixed;
    z-index: 1;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

header ul, header .logo{
    position: relative;
    display: flex;
}
header ul{
    justify-content: center;
}

header a{
    color:var(--menu-text-color)
}

header a {
    position: relative;
    list-style: none;
    margin-top: 0;
    background-color: var(--menu-background-color);
    text-decoration: none;
}

header a :link{
    color:var(--menu-text-color) ;
    text-decoration: none;
}
header a :visited{
    text-decoration: none;
    color: var(--menu-text-color);
}
header a :active{
    color: var(--menu-text-color);
}
header a:hover{
    background-color: var(--menu-hoover-background-color);
    color: var(--menu-text-color);
}

header img{
    display: flex;
    justify-content: flex-start;
}

ul, .logo{
    width: 100%;
    margin: 0 0 0 0;
    padding: 0;
}

header a{
    width: 50%;
    height: 7vh;
    text-align: center;
    padding-top: 3vh;
}

.logo{
    justify-content: flex-start;
}

header img{
    position: absolute;
    bottom: 1vh;
    left: 7%;
}

main{
    width: 100%;
    height: auto;
    margin-top: 10vh;
    text-align: center;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    justify-content: center;
    align-items: center;
}

#articles{

}

.img-news{
    height: 80vh;
}

.img-news img{

}

.text-news{
    height: 20vh;
}

.text-plus{
}

.img-news, .text-news{

}

.score-news{
    display: flex;
    justify-content: flex-end;
    align-items: center;    
    font-size: xx-large;
    font-weight: 500;
}

.score-news img{
    width: 20%;
}

.plus-news{

}

.plus-news img{
    width: 15%;
}

.bNews:hover{
    border: 2px solid var(--best-news-border-color);
}

.news:hover{
    border: 2px solid var(--news-border-color);
}

.bNews, .news{
    width: 25%;
    height: 60vh;
    display: inline-flex;
    border: 2px solid transparent; 
    border-radius: 5%;
    margin: 2vh;
    padding: 2vh;
}

.bNews{
    background-color: var(--best-news-background-color);
    color : var(--text-best-news-color);
}

.news{
    background-color: var(--news-background-color);
    color: var(--text-news-color);
}

.news-content {
    max-height: 6vh;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer{
    width: 100%;
    height: 7vh;
    padding-top: 4vh;
    text-align: center;
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    justify-content: center;
    align-items: center;
}
