/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 18 mars 2024, 15:29:14
    Author     : Elisa Bothy
*/

:root{
    --menu-background-color:#9469C9;
    --menu-hoover-background-color:#604087;
    --menu-text-color:#DDDDDD;
    --main-background-color:#EAEFF2;
    --main-text-color:#673F40;
    --best-news-background-color:#D2AE50;
    --news-background-color: #4B8378;
    --footer-background-color: #E4BCB9;
    --footer-text-color: #000000;
    --text-best-news-color:#673F40;
    --text-news-color: #E7F6FC;
    --button-background-color: #D9D9D9;
    --detailled-text-news-color: #000000;
    --detailled-text-news-background:#D9D9D9;
}

h1, h2, h3, p, a, div, td, th, legend, ul, label, input, textarea, span{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header{
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: var(--menu-background-color);
    justify-content: center;
    position: fixed;
    z-index: 1;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

header ul, header div{
    position: relative;
    display: flex;
    justify-content: center;
}

header a{
    color:var(--menu-text-color)
}

header ul a {
    position: relative;
    list-style: none;
    margin-top: 0;
    background-color: var(--menu-background-color);
    text-decoration: none;
}

header a :link{
    color:var(--menu-text-color) ;
    text-decoration: none;
}
header a :visited{
    text-decoration: none;
    color: var(--menu-text-color);
}
header a :active{
    color: var(--menu-text-color);
}
header  a :hover{
    color: var(--menu-text-color);
}
header ul a:hover{
    background-color: var(--menu-hoover-background-color);
    color: var(--menu-text-color);
}

header img{
    display: flex;
    justify-content: flex-start;
}

ul, div{
    width: 100%;
    margin: 0 0 0 0;
    padding: 0;
}

ul a{
    width: 50%;
    height: 7vh;
    text-align: center;
    padding-top: 3vh;
}

main{
    width: 100%;
    height: 180vh;
    margin-top: 10vh;
    text-align: center;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;
    height: 3vh;
    padding: 10vh;
    text-align: center;
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    justify-content: center;
    align-items: center;
}
